<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilos/css_Agregar_habitacion.css')}}">
    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="">
            <input type="text" value="Nombre" id="name" name="name">
            <img width="320px" height="320px"></img>
            🌐<input type="text" value="">
            
        </form>
        





    </div>
</body>
</html>